<!-- Header section Starts-->
<p-toolbar>
<p-card>
  <form [formGroup]="employeForm">
    <!-- form 1 -->
    <div style="padding: 0px 277px;">
      <div class="p-grid">
        <div class="p-col-12">
          <h4 class="header-style">
            Employee Details Form
          </h4>
        </div>
        <div class="p-grid p-col-12">
          <strong class="p-col-6">
            First name
          </strong>
          <div class="p-col-6">
            <input type="text" formControlName="firstname" style="width: 353px;" pInputText
              placeholder="Please Enter First Name">
          </div>

        </div>
        <div class="p-grid p-col-12">
          <strong class="p-col-6">Last Name</strong>
          <div class="p-col-6">
            <input type="text" formControlName="lastname" style="width: 353px;" pInputText
              placeholder="Please Enter Last Name">
          </div>
        </div>
        <div class="p-grid p-col-12">
          <strong class="p-col-6">Conatact Number</strong>
          <div class="p-col-6">
            <input type="text" style="width: 250px;" formControlName="contactnumber" pInputText
              placeholder="Please Enter Contact Number">
          </div>
        </div>


        <div class="p-grid p-col-12">

          <strong class="p-col-6">Alternate Conatact Number</strong>
          <div class="p-col-6">
            <input type="text" style="width: 250px;" formControlName="alternametcontact" pInputText
              placeholder="Please Enter Alternate Conatct Number">
          </div>
        </div>

        <div class="p-grid p-col-12">
          <strong class="p-col-6">Email</strong>
          <div class="p-col-6">
            <input type="email" style="width: 250px;" formControlName="emailcontrol" pInputText
              placeholder="Please Enter EmailId">
          </div>
        </div>
        <div class="p-grid p-col-12">
          <strong class="p-col-6">Permanent Address</strong>
          <div class="p-col-6">
          <textarea type="text" style="width: 250px;" rows="3" autoResize="autoResize" style="width: 506px;"
              formControlName="paddress" pInputTextarea placeholder="Please Enter Permanent Address"></textarea>
          </div>
        </div>

        <div class="p-grid p-col-12">

          <strong class="p-col-6">Temporary Address</strong>
          <div class="p-col-6">
             <textarea type="text" style="width: 506px;" rows="3" autoResize="autoResize" formControlName="aladdress"
              pInputTextarea placeholder="Please Enter Temporary  Address"></textarea>

          </div>
        </div>
        <div class="p-col-6" style="padding: 18px;">
          <p-checkbox formControlName="aldcontrol" [binary]="true" label="Same as Permanent Address"
            (onChange)="changeCheckBox($event,'add')"></p-checkbox>
        </div>
        <div class="p-grid p-col-12">
          <strong class="p-col-6">Designation</strong>
          <div class="p-col-6">
            <p-dropdown appendTo="body" [options]="designationoption" placeholder="Please Select Designation"
              formControlName="designation">
            </p-dropdown>


          </div>
        </div>
        <div class="p-col-12" style="text-align:center">
          <button pButton label="Submit" title="Run Query" lass="ui-button-rounded" icon="pi pi-check"
            (click)="onSubmit(employeForm.value)" [disabled]="employeForm.invalid">
          </button>
        </div>

      </div>

    </div>
  </form>
</p-card>
  </p-toolbar>
<br>
<p-card *ngIf="finaldata.length > 0 " [style]="{width: 'width'}" styleClass="styleClass">
   <h4 class="header-style">
    Employee Table
  </h4>
  <p-table #dt [reorderableColumns]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" dataKey="uniqueid" [value]="finaldata"
    [resizableColumns]="true" [resizableColumns]="true"
    [globalFilterFields]="['firstname','contactnumber','emailcontrol','designation']">
    <ng-template pTemplate="caption">
      <div class="table-header">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Global Search" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pResizableColumn>Name</th>
        <th pResizableColumn pSortableColumn="name">Conatact Number
        </th>
        <th pResizableColumn> Email Address</th>
        <th pResizableColumn>Designation
        </th>
        <th>Actions</th>
      </tr>

    </ng-template>
    <ng-template let-item pTemplate="rowexpansion">
      <tr>
        <div style="width: 571%;">
          <form [formGroup]="updateemployeForm">
            <!-- form 1 -->
            <div style="padding: 0px 277px;">
              <div class="p-grid">
                <div class="p-col-12">
                   <h4 class="header-style">
                    Employee Details Form
                  </h4>
                </div>
                <div class="p-grid p-col-12">
                  <strong class="p-col-6">
                    First name
                  </strong>
                  <div class="p-col-6">
                    <input type="text" (keyup)="updatechangeCheckBox($event)" formControlName="updatefirstname"
                      style="width: 353px;" pInputText placeholder="Please Enter First Name">
                  </div>

                </div>
                <div class="p-grid p-col-12">
                  <strong class="p-col-6">Last Name</strong>
                  <div class="p-col-6">
                    <input type="text" (onChange)="updatechangeCheckBox($event)" formControlName="updatelastname"
                      style="width: 353px;" pInputText placeholder="Please Enter Last Name">
                  </div>
                </div>
                <div class="p-grid p-col-12">
                  <strong class="p-col-6">Conatact Number</strong>
                  <div class="p-col-6">
                    <input type="number" style="width: 250px;" (keyup)="updatechangeCheckBox($event)"
                      formControlName="updatecontactnumber" pInputText placeholder="Please Enter Contact Number">
                  </div>
                </div>


                <div class="p-grid p-col-12">

                  <strong class="p-col-6">Alternate Conatact Number</strong>
                  <div class="p-col-6">
                    <input type="text" style="width: 250px;" (keyup)="updatechangeCheckBox($event)"
                      formControlName="updatealternametcontact" pInputText
                      placeholder="Please Enter Alternate Conatct Number">
                  </div>
                </div>

                <div class="p-grid p-col-12">
                  <strong class="p-col-6">Email</strong>
                  <div class="p-col-6">
                    <input type="email" style="width: 250px;" (keyup)="updatechangeCheckBox($event)"
                      formControlName="updateemailcontrol" pInputText placeholder="Please Enter EmailId">
                  </div>
                </div>
                <div class="p-grid p-col-12">
                  <strong class="p-col-6">Permanent Address</strong>
                  <div class="p-col-6">
                   <textarea type="text" style="width: 250px;" rows="3" autoResize="autoResize"
                      (keyup)="updatechangeCheckBox($event)" style="width: 506px;" formControlName="updatepaddress"
                      pInputTextarea placeholder="Please Enter Permanent Address"></textarea>
                  </div>
                </div>

                <div class="p-grid p-col-12">

                  <strong class="p-col-6">Temporary Address</strong>
                  <div class="p-col-6">
                   <textarea type="text" style="width: 506px;" rows="3" autoResize="autoResize"
                      (keyup)="updatechangeCheckBox($event)" formControlName="updatealaddress" pInputTextarea
                      placeholder="Please Enter Temporary  Address"></textarea>

                  </div>
                </div>
                <div class="p-col-6" style="padding: 18px;">
                  <p-checkbox formControlName="updatealdcontrol" [binary]="true" label="Same as Permanent  Address"
                    (onChange)="changeCheckBox($event,'update')"></p-checkbox>
                </div>
                <div class="p-grid p-col-12">
                  <strong class="p-col-6">Designation</strong>
                  <div class="p-col-6">
                    <p-dropdown appendTo="body" [options]="designationoption" (onChange)="updatechangeCheckBox($event)"
                      placeholder="Please Select Designation" formControlName="updatedesignation">
                    </p-dropdown>


                  </div>
                </div>
                <div class="p-col-12" style="text-align:center">
                  <button pButton label="Update" title="Click Here To Update" lass="ui-button-rounded"
                    icon="pi pi-check" (click)="onUpdate(updateemployeForm.value)"
                    [disabled]="updateemployeForm.invalid">
                  </button>
                </div>

              </div>

            </div>
          </form>
        </div>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-data let-expanded="expanded">
      <tr>
        <td>
          <button type="button" (click)="showupdatevalue(data)" pButton pRipple [pRowToggler]="data"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>{{data.firstname + ' ' + data.lastname}}</td>
        <td title="{{data.contactnumber}}">{{data.contactnumber}}</td>
        <td title="{{data.emailcontrol}}">{{data.emailcontrol}}</td>
        <td title="{{data.designation}}">{{data.designation}}</td>
        <td>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedEmployee(data.uniqueid)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
<p-toast [baseZIndex]="500000"></p-toast>

<p-confirmDialog header="Confirmation" [baseZIndex]="10000" icon="pi pi-exclamation-triangle"></p-confirmDialog>
